@font-face {
  font-weight: 800;
  font-family: "Raleway";
  src: url("./fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Lato";
  src: url("./fonts/Lato-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-weight: 800;
  font-family: "Lato";
  src: url("./fonts/Lato-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23.5rem;
}

.header {
  padding: 2rem 0;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  width: 100%;
  z-index: 3;

  &__logo {
    color: #fff;
    font-family: Raleway;
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;

    .colortext {
      color: #42a9ed;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 3.75rem;
  }

  &__tab {
    color: #fff;
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #43abf0;
    }
  }
}

.welcome {
  padding: 12.69rem 0;
  background: url("./img/first__bg.png") center no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  &__title {
    font-size: 3rem;
    max-width: 48.75rem;
    font-weight: 700;
    text-transform: uppercase;

    .colortext {
      color: #3e9cdc;
    }
  }

  &__list-wrapper {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__list {
    margin-top: 0.63rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.31rem;
  }

  &__item {
    font-weight: 400;

    &::before {
      content: "-";
      padding: 0 0.62rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.88rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border: 1px solid #FFF;
    background: #3E9CDC;
    width: 11.4375rem;
    color: #FFF;
    padding: 0.94rem 0.62rem;
    font-size: 0.8125rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;

    &:nth-child(2) {
      border: 1px solid #6F6D7B;
      background: #FFF;
      color: #2A2B30;
    }

    &:hover {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
  }
}

.order {
  padding: 7.56rem 0 9.45rem;
  background: url(./img/background.png), #272733 center top no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__title {
    color: #FFF;
    font-family: Lato;
    font-size: 2.25rem;
    font-weight: 800;
    text-transform: uppercase;

    .colortext {
      color: #3E9CDC;
    }
  }

  &__subtitle {
    margin-top: 1.88rem;
    color: #BBB;
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: 400;
  }

  &__cards {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.91rem;
  }

  &__card {
    position: relative;
  }

  &__description {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    width: 13rem;
    left: 50%;
    top: 100%;
    height: 2.73rem;
    transform: translate(-50%,1.25rem);
  }

  &__form {
    margin-top: 9.02rem;
    max-width: 73.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.88rem;
    row-gap: 1.88rem;
  }

  &__select {
    color: #272733;
    font-family: Lato;
    padding: 0.62rem;
    font-size: 1.125rem;
    font-weight: 400;
    width: 100%;
    max-width: 22.7rem;
    border-radius: 0.1875rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.85);
    position: relative;

    &.order__select--open {
      background: rgba(61, 64, 80, 0.85);
      color: #FFF;
      border: 1px solid #3D4050;
      border-radius: 0.1875rem 0.1875rem 0rem 0rem;

      .order__placeholder::after {
        content: url("./img/arrow__white.svg");
      }

      .order__menu-wrapper {
        display: block;
      }
    }
  }

  &__value {
    display: flex;
  }

  &__placeholder {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: url("./img/arrow__icon.svg");
      width: 1.25rem;
      height: 1rem;
      margin-left: auto;
    }
  }

  &__menu-wrapper {
    display: none;
    position: absolute;
    width: 100.5%;
    left: -0.2%;
    padding: 0.14rem 0.25rem;
    background: rgba(39, 39, 51, 0.90);
    border-radius: 0 0 0.1875rem 0.1875rem;
    border: 1px solid #3D4050;
    top: 100%;
  }

  &__menu {
    display: block;
    max-height: 11.20881rem;
    padding: 0 0.62rem;
    overflow: auto;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.125rem;
    list-style: none;

    &::-webkit-scrollbar {
      margin: 0.14rem 0.25rem;
      width: 0.4375rem;
      background-color: rgba(61, 64, 80, 1);
      border-radius: 3rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.1875rem;
      background: #3E9CDC;
    }
  }

  &__item {
    cursor: default;
    transition: color .15s ease;
    user-select: none;

    &:hover {
      color: #42A9ED;
    }
  }

  &__input {
    color: #272733;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.62rem;
    border-radius: 0.1875rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.85);
    max-width: 22.7rem;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #272733;
    }
    ::-moz-placeholder {
      color: #272733;
    }
    &:-moz-placeholder{
      color: #272733;
    }
    &:-ms-input-placeholder{
      color: #272733;
    }
  }

  &__range {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    width: 47.25rem;

    span {
      font-weight: 600;
      margin-left: auto;
    }
  }

  &__rangebar {
    margin-top: 1.03rem;
    width: 100%;
    height: 0.375rem;
    appearance:none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.1875rem;
    border: 1px solid #FFF;
    outline: none;

    &::-webkit-slider-thumb {
      width: 1.5rem;
      height: 1.5rem;
      background: rgba(66, 169, 237, 1);
      border: rgba(40, 102, 144, 1) 3px solid;
      appearance: none;
      border-radius: 50%;
    }

    &::-moz-range-track{
      width: 1.5rem;
      height: 1.5rem;
      background: rgba(66, 169, 237, 1);
      border: rgba(40, 102, 144, 1) 3px solid;
      appearance: none;
      border-radius: 50%;
    }
  }

  &__buttonfile {
    color: #272733;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.1875rem;
    border: 2px solid #3E9CDC;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    max-width: 22.7rem;
    width: 100%;
    gap: 0.62rem;
  }

  &__submit {
    border-radius: 0.25rem;
    border: 1px solid #FFF;
    background: #3E9CDC;
    max-width: 22.7rem;
    width: 100%;
    height: 3rem;
    color: #FFF;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3.46rem auto 0;
  }
}

.footer {
  padding: 1.87rem 0;
  background-color: #3D4050;
  color: #fff;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__copyright {
    font-size: 0.8125rem;
    font-weight: 400;
  }

  &__separator {
    width: 0.0625rem;
    height: 1.125rem;
    background-color: #C3C3C3;
  }

  &__payment {
    display: flex;
    color: #C3C3C3;
    gap: 2.37rem;
  }

  &__item {
    display: flex;
    gap: 0.62rem;
    align-items: center;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__contacts {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    font-weight: 400;
    gap: 2.37rem;
  }

  &__item {
    text-decoration: none;
    color: #fff;
  }
}

@import "_media";