@font-face {
  font-weight: 800;
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Lato";
  src: url("../fonts/Lato-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Lato";
  src: url("../fonts/Lato-ExtraBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23.5rem;
}

.header {
  padding: 2rem 0;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header__logo {
  color: #fff;
  font-family: Raleway;
  font-size: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.header__logo .colortext {
  color: #42a9ed;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 3.75rem;
}
.header__tab {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease;
  cursor: pointer;
}
.header__tab:hover {
  color: #43abf0;
}

.welcome {
  padding: 12.69rem 0;
  background: url("../img/first__bg.png") center no-repeat;
}
.welcome__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.welcome__title {
  font-size: 3rem;
  max-width: 48.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome__title .colortext {
  color: #3e9cdc;
}
.welcome__list-wrapper {
  font-size: 1.25rem;
  font-weight: 700;
}
.welcome__list {
  margin-top: 0.63rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.31rem;
}
.welcome__item {
  font-weight: 400;
}
.welcome__item::before {
  content: "-";
  padding: 0 0.62rem;
}
.welcome__buttons {
  display: flex;
  gap: 1.88rem;
}
.welcome__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid #FFF;
  background: #3E9CDC;
  width: 11.4375rem;
  color: #FFF;
  padding: 0.94rem 0.62rem;
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.welcome__button:nth-child(2) {
  border: 1px solid #6F6D7B;
  background: #FFF;
  color: #2A2B30;
}
.welcome__button:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.welcome__button:active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.order {
  padding: 7.56rem 0 9.45rem;
  background: url(../img/background.png), #272733 center top no-repeat;
}
.order__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.order__title {
  color: #FFF;
  font-family: Lato;
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
}
.order__title .colortext {
  color: #3E9CDC;
}
.order__subtitle {
  margin-top: 1.88rem;
  color: #BBB;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
}
.order__cards {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.91rem;
}
.order__card {
  position: relative;
}
.order__description {
  position: absolute;
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  width: 13rem;
  left: 50%;
  top: 100%;
  height: 2.73rem;
  transform: translate(-50%, 1.25rem);
}
.order__form {
  margin-top: 9.02rem;
  max-width: 73.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.88rem;
  row-gap: 1.88rem;
}
.order__select {
  color: #272733;
  font-family: Lato;
  padding: 0.62rem;
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
  max-width: 22.7rem;
  border-radius: 0.1875rem;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.85);
  position: relative;
}
.order__select.order__select--open {
  background: rgba(61, 64, 80, 0.85);
  color: #FFF;
  border: 1px solid #3D4050;
  border-radius: 0.1875rem 0.1875rem 0rem 0rem;
}
.order__select.order__select--open .order__placeholder::after {
  content: url("../img/arrow__white.svg");
}
.order__select.order__select--open .order__menu-wrapper {
  display: block;
}
.order__value {
  display: flex;
}
.order__placeholder {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.order__placeholder::after {
  content: url("../img/arrow__icon.svg");
  width: 1.25rem;
  height: 1rem;
  margin-left: auto;
}
.order__menu-wrapper {
  display: none;
  position: absolute;
  width: 100.5%;
  left: -0.2%;
  padding: 0.14rem 0.25rem;
  background: rgba(39, 39, 51, 0.9);
  border-radius: 0 0 0.1875rem 0.1875rem;
  border: 1px solid #3D4050;
  top: 100%;
}
.order__menu {
  display: block;
  max-height: 11.20881rem;
  padding: 0 0.62rem;
  overflow: auto;
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
  list-style: none;
}
.order__menu::-webkit-scrollbar {
  margin: 0.14rem 0.25rem;
  width: 0.4375rem;
  background-color: rgb(61, 64, 80);
  border-radius: 3rem;
}
.order__menu::-webkit-scrollbar-thumb {
  border-radius: 0.1875rem;
  background: #3E9CDC;
}
.order__item {
  cursor: default;
  transition: color 0.15s ease;
  user-select: none;
}
.order__item:hover {
  color: #42A9ED;
}
.order__input {
  color: #272733;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.62rem;
  border-radius: 0.1875rem;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.85);
  max-width: 22.7rem;
  width: 100%;
}
.order__input:focus {
  outline: none;
}
.order__input::-webkit-input-placeholder {
  color: #272733;
}
.order__input ::-moz-placeholder {
  color: #272733;
}
.order__input:-moz-placeholder {
  color: #272733;
}
.order__input:-ms-input-placeholder {
  color: #272733;
}
.order__range {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 400;
  width: 47.25rem;
}
.order__range span {
  font-weight: 600;
  margin-left: auto;
}
.order__rangebar {
  margin-top: 1.03rem;
  width: 100%;
  height: 0.375rem;
  appearance: none;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.1875rem;
  border: 1px solid #FFF;
  outline: none;
}
.order__rangebar::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(66, 169, 237);
  border: rgb(40, 102, 144) 3px solid;
  appearance: none;
  border-radius: 50%;
}
.order__rangebar::-moz-range-track {
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(66, 169, 237);
  border: rgb(40, 102, 144) 3px solid;
  appearance: none;
  border-radius: 50%;
}
.order__buttonfile {
  color: #272733;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.1875rem;
  border: 2px solid #3E9CDC;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 22.7rem;
  width: 100%;
  gap: 0.62rem;
}
.order__submit {
  border-radius: 0.25rem;
  border: 1px solid #FFF;
  background: #3E9CDC;
  max-width: 22.7rem;
  width: 100%;
  height: 3rem;
  color: #FFF;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3.46rem auto 0;
}

.footer {
  padding: 1.87rem 0;
  background-color: #3D4050;
  color: #fff;
  flex-wrap: wrap;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__copyright {
  font-size: 0.8125rem;
  font-weight: 400;
}
.footer__separator {
  width: 0.0625rem;
  height: 1.125rem;
  background-color: #C3C3C3;
}
.footer__payment {
  display: flex;
  color: #C3C3C3;
  gap: 2.37rem;
}
.footer__item {
  display: flex;
  gap: 0.62rem;
  align-items: center;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__contacts {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 400;
  gap: 2.37rem;
}
.footer__item {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1901px) {
  .order__submit {
    margin: 0;
  }
  .order__form {
    justify-content: center;
  }
}
@media screen and (max-width: 1812px) {
  .order__separator {
    display: none;
  }
  .order__cards {
    justify-content: center;
    gap: 6.5rem;
  }
}
@media screen and (max-width: 1509px) {
  .container {
    padding: 0 10.5rem;
  }
}
@media screen and (max-width: 1328px) {
  .footer__payment {
    gap: 0.37rem;
  }
  .footer__contacts {
    gap: 0.37rem;
  }
}
@media screen and (max-width: 1095px) {
  .welcome__title {
    font-size: 2.5rem;
  }
  .welcome__list-wrapper {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1092px) {
  .order__range {
    width: 22.7rem;
  }
  .order__value {
    display: block;
    text-align: center;
  }
  .footer__contacts {
    flex-direction: column;
    align-items: start;
  }
  .footer__payment {
    flex-direction: column;
  }
  .header__nav {
    gap: 2.25rem;
  }
}
@media screen and (max-width: 971px) {
  .container {
    padding: 0 3.5rem;
  }
  .footer__copyright {
    max-width: 11rem;
  }
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1.1rem;
    width: 2rem;
  }
  .header__burger span, .header__burger span::before, .header__burger span::after {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 1rem;
    transition: transform 0.3s 0.3s ease;
  }
  .header__burger span::before {
    content: "";
    top: 0.5rem;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
  }
  .header__burger span::after {
    content: "";
    top: 1rem;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
  }
  .header__burger.header__burger--active span::before {
    content: "";
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
  }
  .header__burger.header__burger--active span {
    transform: rotate(45deg);
    top: 50%;
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
  }
  .header__burger.header__burger--active span::after {
    content: "";
    top: 0;
    transform: rotate(-90deg);
    opacity: 0;
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
  }
  .header__burger.header__burger--active .header__nav {
    opacity: 1;
  }
  .header__nav {
    opacity: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    text-align: center;
    z-index: -1;
    right: 0;
    padding: 2rem;
    background-color: rgba(16, 16, 29, 0.9);
    transition: opacity 0.3s ease;
  }
  .welcome__title {
    font-size: 2rem;
  }
  .welcome__list-wrapper {
    font-size: 0.75rem;
  }
  .welcome__button {
    padding: 0.54rem 0.42rem;
    font-size: 0.75rem;
    width: 9.4375rem;
  }
  .order__img {
    width: 4rem;
  }
  .order__description {
    font-size: 0.75rem;
    max-width: 8rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 0.7rem;
  }
  .order__title {
    font-size: 1.75rem;
  }
  .order__subtitle {
    font-size: 0.75rem;
  }
  .order__cards {
    gap: 5rem;
  }
  .order__form {
    max-width: 15.7rem;
  }
  .order__item, .order__select, .order__input, .order__rangetitle, .order__buttonfile, .order__submit {
    font-size: 0.75rem;
  }
  .footer__payment, .footer__separator {
    display: none;
  }
  .footer {
    font-size: 0.65rem;
  }
  .welcome__buttons {
    flex-direction: column;
    align-items: center;
  }
  .welcome__title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 418px) {
  .order__cards {
    gap: 6.5rem;
  }
  .welcome__title {
    font-size: 1.5rem;
  }
  .order__title {
    text-align: center;
  }
}